# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Node
node_modules/
dist/
build/
*.log

# Docker
*.dockerignore

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Testing
.coverage
coverage.xml
htmlcov/
